In [1]:

# Q1.Write a Program to create a class 'Company' and using the class instance and print all the writable attributes of that object such as age, gender, salary, profession and designation. We take atleast 5 employees of an organization


class Company:
    age=None
    gender=None
    salary=None
    profession=None
    designation=None
    
    
    def set_details(self,age,gender,salary,profession,designation):
        self.age=age
        self.gen=gender
        self.sal=salary
        self.prof=profession
        self.des=designation
        
        
    def print_details(self):
        print("Age : ",self.age)
        print("Gender : ",self.gen)
        print("Salary : ",self.sal)
        print("Profession : ",self.prof)
        print("Designation : ",self.des)

In [2]:
c1=Company()

In [7]:
c1.set_details(26,'F',45000,'Teaching','Assistant Professor')

In [8]:
c1.print_details()

Age :  26
Gender :  F
Salary :  45000
Profession :  Teaching
Designation :  Assistant Professor

In [9]:
c1.set_details(29,'M',45500,'IT','Project Admin')

In [10]:
c1.print_details()

Age :  29
Gender :  M
Salary :  45500
Profession :  IT
Designation :  Project Admin

In [11]:
c1.set_details(23,'F',30000,'IT','Software Developer')

In [12]:
c1.print_details()

Age :  23
Gender :  F
Salary :  30000
Profession :  IT
Designation :  Software Developer

In [14]:
c1.set_details(25,'M',25000,'IT','PHP Developer')

In [15]:
c1.print_details()

Age :  25
Gender :  M
Salary :  25000
Profession :  IT
Designation :  PHP Developer

In [16]:
c1.set_details(20,'F',18000,'Teaching','Lecture')

In [17]:
c1.print_details()

Age :  20
Gender :  F
Salary :  18000
Profession :  Teaching
Designation :  Lecture