# Level 2 : Assignment 5 : Single Inheritance

In [32]:
class Person():
    name=None
    age=None
    city=None
      
    def _init_(self,name,age,city):
        self.name=name
        self.age=age
        self.city=city
        
        
    def show_details(self):
        print("Name : ",self.name)
        print("Age : ",self.age)
        print("City : ",self.city)
        
        
    def update_city(self,new_city):
        self.city=new_city

In [33]:
class Employee(Person):
    salary=None
    position=None
    dept=None
    
    def _init_(self,name,age,city,salary,position,dept):
        super()._init_(name,age,city)
        self.salary=salary
        self.position=position
        self.dept=dept
        
        
    def show_details(self):
        super().show_details()
        print("Salary : ",self.salary)
        print("Position : ",self.position)
        print("Department : ",self.dept)
        
        
    def update_salary(self,new_salary):
        self.salary=new_salary
        
        
    def update_dept(self,new_dept):
        self.dept=new_dept
        
        
    def update_position(self,new_pos):
        self.position=new_pos
        
        
    def inc_salary(self):
        inc_salary=int(input("New Salary : "))
        print("Current Salary : ",self.salary)
        if inc_salary > self.salary:
            salary_hike=((inc_salary-self.salary)/self.salary)*100
            print("Salary hike % : ",salary_hike)
        else:
            print("No hike")
        
        
    def decr_salary(self):
        print("Current Salary : ",self.salary)
        decr_salary=int(input("New Salary : "))
        if decr_salary < self.salary:
            salary_decr=((self.salary-decr_salary)/decr_salary)*100
            print("Salary decrement % : ",salary_decr)
        else:
            print("No Decrement")

In [34]:
e1=Employee()

In [35]:
e1.show_details()

Name :  None
Age :  None
City :  None
Salary :  None
Position :  None
Department :  None

In [36]:
e1.update_city("Kochi")

In [37]:
e1.update_salary(40000)

In [38]:
e1.update_dept("HR")

In [39]:
e1.update_position("Senior HR")

In [40]:
e1.show_details()

Name :  None
Age :  None
City :  Kochi
Salary :  40000
Position :  Senior HR
Department :  HR

In [11]:
e1.inc_salary()

New Salary : 50000
Current Salary :  40000
Salary hike % :  25.0

In [12]:
e1.inc_salary()

New Salary : 40000
Current Salary :  40000
No hike

In [13]:
e1.inc_salary()

New Salary : 35000
Current Salary :  40000
No hike

In [22]:
e1.decr_salary()

Current Salary :  40000
New Salary : 32000
Salary decrement % :  25.0

In [30]:
e1.decr_salary()

Current Salary :  40000
New Salary : 50000
No Decrement

In [31]:
e1.decr_salary()

Current Salary :  40000
New Salary : 40000
No Decrement